:root{
    --background-color:#0d0d0d;
    --primary-font-color:#c5d3bf;
    --green-button:#01e3A4;
    --secondary-background:#0A1416;
    font-size: calc(0.9vw + 0.6rem);
}
/*RESET*/
body{
    box-sizing: border-box;
}
body,p,a,ul,li{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
/*BASE-STYLES*/
@font-face {
    font-family: "poppins";
    src: url(/landing-pages/crypto__B.C-Tech/font-poppins/Poppins-Regular.ttf);
}

body{
    background-color: var(--background-color);
    color: var(--primary-font-color);
    overflow-x: hidden;
    font-family:"poppins";
    font-size: 16px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.button{
    border: #01e3A4 1px solid;
    padding: 1rem 3rem;
    background-color: transparent;
    color: inherit;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0px 8px 20px #01e3a385;
}
.button:focus{
    border: #01e3A4 1px solid;
    background-color: #01e3A4;
    color: black;
}



/*FONTS*/




/*MOBILE-STYLES*/
.logo{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}
#logodot{
    color: #01e3A4;
}
nav ul{
    display: none;
}
header{
    background: url("../crypto__B.C-Tech/img/image.svg");
    background-repeat: repeat;
    background-size: 150%;
    padding: 1rem;
    text-align: center;
}
.toggle{
    color: #01e3A4;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    font-size: 1.8rem;
}
.open .fa-solid.fa-bars{
    display: none;
   
}
.open .fa-solid.fa-bars-staggered{
    display: block;
}
.fa-solid.fa-bars-staggered{
    display: none;
}
.header-items{
   text-align: center;
   gap: 2rem;
}
.header-text{
    grid-column: 1/13;
}
.header-image{
    grid-column: 1/13;
    grid-row: 2;
}
.header-text p{
    font-size: 1.3rem;
    color: #a8ccc283;
}
.header-image img{
    width: 100%;
}
.header-text-button{
    background-color: var(--green-button);
    color: var(--background-color);
    justify-self: center;
}
.header-text-button:focus{
    border: #01e3A4 1px solid;
    background-color: transparent;
    color: inherit;
}
/* section 2(map)*/
.map{
    background: url("/landing-pages/crypto__B.C-Tech/img/—Pngtree—global\ science\ and\ technology\ information_5268568\ 1.svg");
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 0 1rem;
}
.map p{
    font-size: 1.3rem;
    margin-top: 4rem;
}
.map h2{
    font-size: 2rem;
}
.map-numbers{
    display: flex;
    justify-content: space-around;
    color: #01e3A4;
    font-size: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}
.map-numbers p{
    color: rgba(252, 251, 249, 0.733);
    margin: 0.3rem 0;
    font-size: 1.2rem;
}
.sponsors{
    height: 15vh;
    align-items: center;
   background-color:rgba(31, 68, 57, 0.322);
    margin: 3rem 1rem;
    border-radius: 5.5rem;
    padding: 1rem 1rem;
}
.sponsors div{
  background-color: #01e3a369;  
}
.sponsors img{
    width: 100%;
    filter: brightness(50%);
}
.sponsors :nth-child(1){
    grid-column: 1/5;
    grid-row: 2;
}
.sponsors :nth-child(2){
    grid-column: 5/9;
    grid-row: 3;
}
.sponsors :nth-child(3){
    grid-column: 9/13;
    grid-row: 2;
}
.sponsors :nth-child(4){
    grid-column: 4/10;
    grid-row: 1;
}
.about-us{
    margin-top: 5rem;
    padding: 0.8rem 1rem;
    text-align: center;
    background-color:rgba(31, 68, 57, 0.144) ;
    border-radius: 0rem 13rem 10rem  0;
}
.about-us img{
    width: 100%;
}
.about-us p{
    margin-bottom: 1.5rem;
    text-align: left;
}
.about-us :nth-child(1){
    grid-column: 1/13;
}
.about-us :nth-child(2){
    grid-column: 1/13;
}
.about-us button{
    margin-bottom: 2rem;
}
.hdww{
    height: 172vh;
    background-color:rgba(11, 26, 21, 0.664) ;
    border-radius: 20rem 0 0 13rem;
    text-align: center;
    
}
.hdww h2{
    margin: 4rem 4rem 1rem 4rem;
    text-align: center;
}

.hdww-content{
    display: flex;
    background-color:rgba(20, 44, 37, 0.301) ;
    border-radius: 3rem 0 0 3rem;
    padding: 2rem 4rem 2rem 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    gap: 1rem;
    text-align: left;
}
.hdww-content-image img{
    width: 200%;
}
.hdww-numbers{
    font-size: 3rem;
    color: rgba(250, 248, 245, 0.137);
}
.hdww-content-text p{
    color: rgba(255, 255, 255, 0.541);
    font-size: 1.1rem;
}
.hdww h3{
    margin: 0 0 1rem 0
}
.hdww-button{
    margin-top: 1rem;
}

.reviews{
    background-color: #072e2b;
    background: url(/landing-pages/crypto__B.C-Tech/img/digital-futuristic-technology-particle-wave-design_1017-30515\ 2.svg);
    height: 75vh;
    padding: 2rem 1rem;
    text-align: center;
    background-color: #01e3a310;
}.reviews h2{
    font-size: 3rem;
}
.fa-solid{
    color: #01e3A4;
    font-size: 2rem;
}
.review-tcontent{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.review-tcontent p{
    padding: 0 1rem;
}
footer{
    text-align: center;
    background: url(/landing-pages/crypto__B.C-Tech/img/—Pngtree—global\ science\ and\ technology\ information_5268568\ 2.svg);
    padding: 2rem 2rem;
}
.fa-brands{
    color: #01e3A4;
    font-size: 2rem;
}
footer input{
    position: relative;
    border: #01e3A4 1px solid;
    background-color: transparent;
    width: 15rem;
    height: 3rem;
}
footer button{
    background-color: #01e3A4;
    border: none;
   padding: 0.9rem;
    margin-left: -2px;
   border-radius:0 3px 3px 0;
   font-family: "poppins";
   font-size: 1rem;
}
footer ul{
    padding-left:0 ;
    padding-top: 1rem;
}



/*SMALL-TABLETS*/
@media screen and (min-width:620px) {
 .header-text{
    grid-column: 1/6;
 }  
 .header-image{
    grid-column: 6/13;
    grid-row: 1;
 }
 .header-image img{
    width: 150%;
 }
 header{
    height: 100vh;
 }

}





/*LARGE-TABLETS AND LAPTOPS*/

@media screen and (min-width:960px) {
    
}





/*DESKTOPS*/

@media screen and (min-width:1200px) {
  
}
